body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}


body {
  background-color: #1a2025;
  color: #3de713;
  font-family: VT323;
 
}


.crtScreen {
  height: 89vh;
  border: 50px solid #F9e4b7 ;
  border-bottom: 57px solid #F9e4b7;
}

.innerCrt {
  height: 77vh;
  border: 10px solid rgb(88, 85, 71);
  padding: 50px;
}

header h1{

  position: absolute;
  top: -25px;
  color:BLACK;
  left: 49px;
  font-size: 40px;
}




/* bit button */

.bitButtonGroup {
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  flex-grow: 1;
  font-family: VT323;
}

.bitButton {
  color:  #3de713;
  border: 3px solid  #3de713;
  box-sizing: 10px 20px;
  padding: 10px 10px;
  font-size: 50px;
  border-radius: 5px;
  background: transparent;
  text-align: center;
  outline: none;
  width: 300px;
  align-self: center;
  font-family: VT323;
}

.bitButton:active {
  position: relative;
  top: 1px;
  left: 1px;
}

/* upgrade buttons */ 
.upgrades {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
  
}

.column {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center; 
  width: 200px;
  flex-grow: 1;
}

.itemGroup {
  padding-top: 25px;
}


.item {
  background: transparent;
  border: 2px solid  #3de713;
  color: #3de713;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 15px;
  padding: 5px 25px;
  outline: none;
  font-family: VT323;

}


.item:active {
  position: relative;
  top: 1px;
  left: 1px;
}

/* Memory Bar */

.memoryBar {
  padding-top: 15px;
  margin: 0 auto;
  width: 1002px;
}


.outerRectangle {
  position: relative;
  width: 1000px;
  height: 25px;
  border: 3px solid #2eb40d;
  margin-bottom: 15px;

}

.innerRectangle {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #3de713;
  border-right: 3px solid #2eb40d;
  transition: all 1s ease;
}

/* rendered list */
.rendered-list {
  display: flex;
  height: 400px;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  padding-top: 50px;
}

.rendered-item {
  text-align: center;
  width: 500px;
}

/* Login Page */

.welcome {
  text-align: center;
  font-size: 80px;
}

.form-prompt {
  display: flex;
  flex-flow: column;
  border: 1px solid #2eb40d;
  width: 500px;
  height: 500px;
  padding: 50px;
  margin: 0 auto;
}

.heading-label {
  font-size: 50px;
  text-align: center;
}

.form-item {
  text-align: center;
  margin-top: 20px;
}

.login-input {
  margin-left: 10px;
  background: none;
  border: 1px solid #3de713;
  border-radius: 5px;
  color: white;
  outline: none;
}

label {
  font-size: 20px;
}

.login-buttons {
  background: none;
  border: 1px solid  #3de713;
  border-radius: 5px;
  color: #3de713;
  font-family: VT323;
  outline: none;
  margin-left: 10px;
}

.submit-account {
  background: none;
  border: 1px solid  #3de713;
  border-radius: 5px;
  color: #3de713;
  font-family: VT323;
  outline: none;
  margin-left: 10px;
  font-size: 20px;
}

/*  */

